.random-planet {
  width: 100%;
  background-color: rgb(56, 56, 56);
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  height: 190px;
}
.random-planet__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
}

.random-planet__image {
  width: 180px;
  height: 180px;
  border-radius: 10px;
}
